{% extends "layout.html" %}

{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block content %}
 <div style="font-weight: bold;"> Data: {{data_info['msg_in_total']}} Messages, {{data_info['user_in_total']}} Users</div>
  <div class="avg-msg-counter-hour-day">
    <h1>Avg Msg Number In Hour (From {{start_date}} To {{end_date}}) </h1>
    <div id="avgMsgCounterHourDay"class='with-3d-shadow with-transitions'>
      <svg></svg>
    </div>
  </div>

  <div class="avg-msg-counter-hour-day">
    <h1>Thanks Msg Ratio in Msg</h1>
    <div id="thanksRatioInAll"class='with-3d-shadow with-transitions'>
      <svg></svg>
    </div>
  </div>


  
{% endblock %}

{% block javascript %}
<script type="module" src="{{url_for('static', filename='js/avg_msg_counter_hour_day.js') }}"></script>
<script type="module" src="{{url_for('static', filename='js/thank_to_all_ratio.js') }}"></script>
{% endblock %}
