{% extends "layout.html" %}

{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/reactions.css') }}">
{% endblock %}

{% block content %}
  <div class="emoji-list">💚   ❤️   🤘  +1    🦊   ➕   🙏    👏      💪   🎉</div>
  <h1>Emoji Counter Bubble</h1>
  <div id="bubble"></div>

  <div class="reaction-counter">
    <h1>Top 10 Emoji Used</h1>
    
    <div id="reactionCounter"class='with-3d-shadow with-transitions'>
        <!-- <svg width="960" height="600"></svg> -->
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="module" src="{{url_for('static', filename='js/reaction_counter_bubble_graph.js') }}"></script>
<script type="module" src="{{url_for('static', filename='js/reaction_counter.js') }}"></script>
{%endblock%}