.node-info {
  position: absolute;
}

ul {
  list-style: none;
}

.info-title {
  padding:0.2em 0.5em;
  background: #ececec;
}

.info-content {
  background: #fff;
}

.info-content > i{
  display: inline-block;
  padding: 0.5em;
  margin: 0 0.25em;
  vertical-align: middle;
}

.info-content-label {
  margin-right: 1em;
}

.bg-normal {
  background: #2296F4;
}

.bg-abnormal {
  background: #EA3344;
}